In [4]:
# Write note data both as table with note value info
# and as list with unique onset times

import numpy as np
import pandas as pd

In [5]:
NOTES = ['C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B']
OCTAVES = list(range(11))
NOTES_IN_OCTAVE = len(NOTES)

In [6]:
def number_to_note(number: int) -> tuple:
    octave = number // NOTES_IN_OCTAVE
    assert octave in OCTAVES, errors['notes']
    assert 0 <= number <= 127, errors['notes']
    note = NOTES[number % NOTES_IN_OCTAVE]

    return note, octave

In [38]:
fname = "Violin Partita No. 2 in D Minor, BWV 1004 - IV. Gigue-CygjWBog9mo"
path = "datasets/sturmbach/sturmbach_labels/{}.txt".format(fname)
out_path = "datasets/sturmbach/sturmbach_labels/{}.midi.csv".format(fname)

In [39]:
col_names = ["onset", "offset", "pitch"]
notes = pd.read_csv(path, sep="\t", names=col_names, header=0)
notes

        onset     offset  pitch
0    0.488723   0.798723     62
1    0.739723   0.948723     65
2    0.974723   1.183723     69
3    1.216630   1.472630     74
4    1.497630   1.692478     76
..        ...        ...    ...
80  12.294388  12.433388     62
81  12.468388  12.700388     57
82  12.735388  13.002388     74
83  13.014388  13.362388     73
84  13.409388  13.808047     62

[85 rows x 3 columns]

In [40]:
notes["note"] = [number_to_note(pitch)[0] for pitch in notes["pitch"]]
notes["octave"] = [number_to_note(pitch)[1] for pitch in notes["pitch"]]
notes

        onset     offset  pitch note  octave
0    0.488723   0.798723     62    D       5
1    0.739723   0.948723     65    F       5
2    0.974723   1.183723     69    A       5
3    1.216630   1.472630     74    D       6
4    1.497630   1.692478     76    E       6
..        ...        ...    ...  ...     ...
80  12.294388  12.433388     62    D       5
81  12.468388  12.700388     57    A       4
82  12.735388  13.002388     74    D       6
83  13.014388  13.362388     73   C#       6
84  13.409388  13.808047     62    D       5

[85 rows x 5 columns]

In [41]:
notes.to_csv(out_path, index=False)

In [18]:
sc_unique_onsets = np.unique(sc_onsets)
df2 = pd.DataFrame({"onset":sc_unique_onsets})
df2.to_csv(path[:-4] + ".onsets", index=False, header=False)